.client-card
  margin: 20px
  width: 500px
  flex-shrink: 0
  .bottom-delete-button
    display: none
  @media(max-width: 540px)
    width: 300px
    .delete-button
      display: none
  .card-title-section
    justify-content: space-between
    @media(max-width: 540px)
      justify-content: center
  .delete-button
    width: 25px
    align-self: end
  @media(max-width: 540px)
    .bottom-delete-button
      display: inline-flex